ManarAlSabeel.Web/bin/*
ManarAlSabeel.Web/obj/*
ManarAlSabeel.Web/App_Data/*

ManarAlSabeel.Domain/bin/*
ManarAlSabeel.Domain/obj/*

ManarAlSabeel.Resources/bin/*
ManarAlSabeel.Resources/obj/*

ManarAlSabeel.Web/logs/*

ManarAlSabeelSolution.v12.suo

ManarAlSabeelSolution/ManarAlSabeel.Web/Content/StudentImages/*