ManarAlSabeel.Web/bin/*
ManarAlSabeel.Web/obj/*
ManarAlSabeel.Web/App_Data/*

ManarAlSabeel.Domain/bin/*
ManarAlSabeel.Domain/obj/*

ManarAlSabeel.Resources/bin/*
ManarAlSabeel.Resources/obj/*

ManarAlSabeelSolution.v12.suo