body
{
	direction: rtl;
}

#main
{
	height: 450px;
	background: #d3e5eb;
}

#footer
{
	height: 50px;
	text-align: center;
	background: #f2bbb7;
}

#header
{
	height: 100px;
	background: #afe9bf;
	text-align: center;
}